* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Styles for mobile devices < 1024px */

#rotateRec {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0.75rem 0;
  width: 100%;
  font-style: italic;
  color: white;
  background-color: black;
  z-index: 25;
}

body {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: black;
  background: url("../images/starry-night-sky-sm.jpg");
  background-position: center;
  background-size: 100%;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 1px;
  visibility: hidden;
}


#mainWindow {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  display: block
}

#mainWindow .exitButton {
  position: absolute;
  top: 0;
  right: 1vw;
  background: none;
  border: none;
  border-radius: none;
  font-size: 165%;
  color: yellow;
  z-index: 20;
  cursor: pointer;
}

#restartButton {
  display: none;  
}

#closeDirections {
  display: none;
}

#closeCredits {
  display: none;
}

#mainWindow #gameWindow {
  width: 100%;
  max-height: 100vh;
  height: auto;

}

#mainWindow #gameWindow #canvas {
  width: 100%;
  height: auto;
  max-height: 100vh;
}

#gameControls {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
  "up fire"
  "down fire";
  width: 100%;
  height: 100%;
}

#gameControls button {
  font-family: monospace;
  font-size: 325%;
  font-weight: bold;
  width: 100%;
  height: 100%;
  color: white;
  background: none;
  border: none;
}

#gameControls #up {
  grid-area: up;
}

#gameControls #down {
  grid-area: down;
}

#gameControls #fire {
  grid-area: fire;
}

#startMenu {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  ".. .. .."
  ".. menu .."
  ".. .. ..";
  width: 100%;
  height: 100%;
}

#startMenu #startMenuWrapper {
  grid-area: menu;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 100%;
  z-index: 20;
  text-align: center;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 1rem;
  border: thin outset silver;
}

#startMenu .startMenuButton {
  display: block;
  font-size: 150%;
  font-family: monospace;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  height: auto;
  background: none;
  border: none;
  cursor: pointer;
}

#startMenu .startMenuButton:hover {
  background-color: yellow;
}

#startMenu #startButton {
  font-size: 225%;
  font-weight: bold;
  padding-top: 0.25rem;
  border-radius: 1rem 1rem 0 0;
}

#startMenu #creditsButton {
  border-radius: 0 0 1rem 1rem;
}


/* STYLES FOR "HOW TO PLAY" PAGE (GAME DIRECTIONS)*/

#gameDirections {
  display: none;
  font-size: 120%;
  width: 90%;
  margin: 0 5%;
}

#gameDirections h2 {
  text-align: center;
  font-size: 160%;
  padding: 2.5rem 0;
}

#gameDirections #directionsBody {
  display: grid;
  grid-template-areas: 
  "objective"
  "controls";
  width: 90%;
  padding: 3.5% 5%;
  background-color: black;
}

#gameDirections #directionsBody 
#objectiveInfo {
  grid-area: objective;
}

#gameDirections #directionsBody 
#objectiveInfo h3 {
  font-size: 1px;
  visibility: hidden;
}

#gameDirections #directionsBody 
#objectiveInfo #goal p {
  width: 100%;
  font-size: 115%;
  margin: 0 0 1rem;
}

#gameDirections #directionsBody 
#objectiveInfo #goal #medicalDisclaimer {
  font-size: 85%;
  font-style: italic;
  padding-top: 2.5%;
  text-align: right;
}

#gameDirections #directionsBody 
#objectiveInfo #specialItems {
  display: block;
  width: 100%;
  padding: 1.5% 0 5%;
  text-align: center;
}

#gameDirections #directionsBody 
#objectiveInfo #specialItems h4 {
  font-size: 1px;
  visibility: hidden;
}

#gameDirections #directionsBody 
#objectiveInfo #specialItems ul {
  display: flex;
  justify-content: center;
}

#gameDirections #directionsBody 
#objectiveInfo #specialItems ul li {
  display: block;
  padding: 0 5%;
  font-size: 110%;
}

#gameDirections #directionsBody 
#objectiveInfo #specialItems ul li img {
  display: block;
  width: auto;
  height: 5rem;
}

#gameDirections #directionsBody 
#controlDirections {
  grid-area: controls;
  padding-top: 5%;
  border-top: thin outset yellow;
}

#gameDirections #directionsBody
#controlDirections h3 {
  text-align: center;
  padding-bottom: 3.5%;
}

#gameDirections #directionsBody
#controlDirections h4 {
  font-size: 120%;
  color: yellow;
  padding-bottom: 1%;
}

#gameDirections #directionsBody
#controlDirections .controlDirectionsGroup {
  display: block;
  width: 100%;
  padding: 1.5% 0;
}

#gameDirections #directionsBody
#controlDirections .controlDirectionsGroup ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#gameDirections #directionsBody 
#controlDirections .controlDirectionsGroup ul li {
  width: auto;
  max-width: 45%;
  font-size: 110%;
}

/* STYLES FOR CREDITS PAGE */
#creditsPage {
  display: none;
  grid-area: canvas;
  width: 100%;
}

#creditsPage h2 {
  text-align: center;
  font-size: 160%;
  padding: 2.5rem 0;
}

#creditsPage h3 {
  font-size: 135%;
  text-align: center;
  padding: 0.75rem 0;
  color: yellow;
}

#creditsPage #imageSources {
  display: grid;
  grid-template-areas: 
  ".. imgsrch3 .."
  ".. imgsrc ..";
}

#creditsPage #imageSources h3 {
  grid-area: imgsrch3;
  text-align: center;
}

#creditsPage #imageSources #creditsList {
  grid-area: imgsrc;
  display: block;
  position: relative;
  list-style-type: none;
  width: 90%;
  padding: 3.5% 5%;
  text-align: left;
  background-color: black;
}

#creditsPage #imageSources #creditsList li {
  display: block;
  position: relative;
  list-style-type: none;
  font-size: 125%;
  padding: 2.5% 0;
}

#creditsPage #imageSources #creditsList li a {
  display: inline;
  color: white;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  z-index: 25;
}

#creditsPage #imageSources #creditsList li a:hover,
#creditsPage #imageSources #creditsList li a:focus {
  text-decoration: underline;
}

#creditsPage #imageSources #creditsList li a:visited {
  text-decoration: line-through;
}


@media screen 
and (orientation: landscape) {
  #rotateRec {
    display: none;
  }

  #startMenu .startMenuButton {
    font-size: 225%;
  }

  /* STYLES FOR 'HOW TO PLAY' PAGE (GAME DIRECTIONS) */
  #gameDirections {
    font-size: 120%;
    padding: 7.5% 0 5%;
  }

  #gameDirections h2 {
    font-size: 150%;
  }

  #gameDirections #directionsBody {
      display: grid;
      grid-template-areas: 
      "objective controls";
  }

  #gameDirections #directionsBody 
  #objectiveInfo {
    padding-right: 5%;
  }

  #gameDirections #directionsBody 
  #controlDirections {
  grid-area: controls;
  padding-top: 0;
  padding-left: 5%;
  border-top: none;
  }

  #gameDirections #directionsBody 
  #controlDirections .controlDirectionsGroup ul {
    flex-direction: row;
  }

  /* STYLES FOR CREDITS PAGE */
  #creditsPage h2 {
    font-size: 175%;
  }

  #creditsPage #imageSources h3 {
    font-size: 135%;
  }

  #creditsPage #creditsList li {
    font-size: 125%;
  }
}

@media screen and (min-width: 1024px) {
  #rotateRec {
    display: none;
  }

  #gameWindow #startMenu .startMenuButton {
    font-size: 275%;
  }

  #gameDirections {
    font-size: 120%;
  }

  #gameDirections h2 {
    font-size: 150%;
  }

  #creditsPage h3 {
    font-size: 135%;
  }

  #creditsPage #imageSources #creditsList li {
    font-size: 125%;
  }
}
